<header class="sofia-bs-header sofia-bs-header--start-pack">
  <div class="sofia-bs-header__handle" aria-hidden="true"><span class="sofia-bs-header__handle-bar"></span></div>
  <div class="sofia-bs-header__row">
    <div class="sofia-bs-header__bar">
      <h2 class="sofia-bs-header__title eva-3-h5">Tu próximo viaje</h2>
      <div class="sofia-bs-header__pack-icons" aria-hidden="true">
        <img src="../assets/icons/sofia-ic-globe.svg" width="16" height="16" alt="">
        <img src="../assets/icons/sofia-ic-plane.svg" width="16" height="16" alt="">
        <img src="../assets/icons/sofia-ic-hotel.svg" width="16" height="16" alt="">
        <i class="eva-3-icon-chevron-down sofia-bs-header__pack-chevron"></i>
      </div>
    </div>
  </div>
</header>
