<header class="sofia-bs-header sofia-bs-header--start-pack sofia-bs-header--start-pack-d">
  <div class="sofia-bs-header__handle sofia-bs-header__handle--empty" aria-hidden="true"></div>
  <div class="sofia-bs-header__row">
    <div class="sofia-bs-header__bar">
      <h2 class="sofia-bs-header__title sofia-bs-header__title--s">Tu próximo viaje</h2>
      <div class="sofia-bs-header__pack-icons" aria-hidden="true">
        <img src="../assets/icons/sofia-ic-globe.svg" width="16" height="16" alt="">
        <img src="../assets/icons/sofia-ic-plane.svg" width="16" height="16" alt="">
        <img src="../assets/icons/sofia-ic-hotel.svg" width="16" height="16" alt="">
        <i class="eva-3-icon-chevron-down sofia-bs-header__pack-chevron"></i>
      </div>
    </div>
  </div>
</header>
