<div class="sofia-peek-bar sofia-peek-bar--inline" role="status" aria-live="polite">
  <span class="sofia-peek-bar__label">Tu viaje vale</span>
  <div class="sofia-peek-bar__icons" aria-hidden="true">
    <img src="../assets/icons/sofia-ic-globe.svg" width="16" height="16" alt="">
    <img src="../assets/icons/sofia-ic-plane.svg" width="16" height="16" alt="">
    <img src="../assets/icons/sofia-ic-hotel.svg" width="16" height="16" alt="">
    <i class="eva-3-icon-chevron-up sofia-peek-bar__chevron"></i>
  </div>
</div>
