<div class="sofia-modal-mobile">
  <div class="sofia-modal-mobile__card" role="dialog" aria-modal="true" aria-labelledby="sofia-modal-mobile-title">
    <div class="sofia-modal-mobile__content">
      <div class="sofia-modal-mobile__header">
        <h2 class="sofia-modal-mobile__title" id="sofia-modal-mobile-title">Título</h2>
        <button class="sofia-modal-mobile__close" type="button" aria-label="Cerrar"><i class="eva-3-icon-cross" aria-hidden="true"></i></button>
      </div>
      <div class="sofia-modal-mobile__body">
        <p class="sofia-modal-mobile__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="sofia-modal-mobile__footer">
      <button class="eva-3-btn -lg -primary" type="button"><em class="btn-text">Primary</em></button>
    </div>
  </div>
</div>
