<div class="sofia-modal sofia-modal--tags" role="dialog" aria-modal="true" aria-labelledby="sofia-modal-tags-title">
  <div class="sofia-modal__header">
    <h2 class="sofia-modal__title" id="sofia-modal-tags-title">Title</h2>
    <button class="sofia-modal__close" type="button" aria-label="Cerrar"><i class="eva-3-icon-cross" aria-hidden="true"></i></button>
  </div>
  <div class="sofia-modal__tags">
    <span class="eva-3-tag" role="button" tabindex="0"><span class="tag-text">Tag text</span></span>
    <span class="eva-3-tag" role="button" tabindex="0"><span class="tag-text">Tag text</span></span>
    <span class="eva-3-tag" role="button" tabindex="0"><span class="tag-text">Tag text</span></span>
    <span class="eva-3-tag" role="button" tabindex="0"><span class="tag-text">Tag text</span></span>
    <span class="eva-3-tag" role="button" tabindex="0"><span class="tag-text">Tag text</span></span>
    <span class="eva-3-tag" role="button" tabindex="0"><span class="tag-text">Tag text</span></span>
  </div>
  <div class="sofia-modal__body">
    <div class="sofia-modal__slot"><!-- [Put content here] --></div>
  </div>
  <div class="sofia-modal__footer">
    <button class="eva-3-btn-ghost -md -primary" type="button"><em class="btn-text">Secondary button</em></button>
    <button class="eva-3-btn -md -primary sofia-modal__primary" type="button"><em class="btn-text">Primary button</em></button>
  </div>
</div>
